body {
  background-color: #E6E6EA;

}

.page-title {
  text-align: center;
}

.new-park {
  text-align: center;
  font-size: 16px;
}

.park-name {
  text-align: center;
  font-size: 20px;
}

.button {
  font-family: 'Merienda', cursive;
  border-radius: 5px;
}
}
